[submodule ".emacs.dOLD/lisp/airline-themes"]
	path = .emacs.dOLD/lisp/airline-themes
	url = https://github.com/DevonKS/airline-themes.git
[submodule ".i3/scripts/rofi-wifi-menu"]
	path = .i3/scripts/rofi-wifi-menu
	url = https://github.com/DevonKS/rofi-wifi-menu.git
[submodule ".i3/scripts/i3lock-multimonitor"]
	path = .i3/scripts/i3lock-multimonitor
	url = https://github.com/ShikherVerma/i3lock-multimonitor.git
